<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.classless.min.css" />

    <title>Test Documentation Search</title>
</head>
<body>
    <main class="container" style="width: 60%">
        <h2 style="text-align: center;">Documentation Search</h2>
        <form action="/search" method="get" style="margin: auto">
            <input type="search" name="q" placeholder="Search" required>
            <br/>
            <div style="text-align: center;">
            <button type="submit" style="width: 50%">Search</button>
            </div>
        </form>
        <div style="text-align: right;">
        <a href="/stat" >Show statistics</a>
        </div>
    </main>
</body>
</html>